.Upload {
  margin-top: 5vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  color: white;
}

.center-cont {
  transform: translate(50%, 0);
  width: 50%;
}

.center-cont h1 {
  margin-bottom: 1vh;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .center-cont {
    transform: translate(0, 0);
    width: 100%;
  }
}

.btn2 {
  background-color: #1A2226;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
  font-weight: 600;
  padding: 1vh;
  border-bottom: 2px solid orange;
}

.btn2:hover {
  background-color: white;
  color: black;
}